* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header {
  position: relative;
  height: 100vh;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -2; 
}

ul {
  float: right; 
  list-style-type: none;
  margin-top: 30px;
  margin-right: 20px; 
}


ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

ul li.active a {
  background-color: #fff;
  color: #000;
}

.logo img {
  float: left;
  width: 150px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
}

.main {
  max-width: 1200px;
  margin: 0px;
}

.title {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  
  
}

.title h1 {
  color: #fff;
  font-size: 119px;
  font-family: "Rakkas", cursive;
  line-height: 1;
   
}

.sub_title h3 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Butterfly Kids", cursive;
  font-size: 36px;
  font-weight: 2900;
  font-style: normal;  

}

.button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: 3px solid #fff;
  padding: 10px 20px;
  color: #fff;
  transition: 0.6s ease;
  font-size: 18px;
  text-decoration: none;
  }

.btn:hover {
  background-color: #fff;
  color: #000;
}

.sub-menu {
  display: none;
  top: 6%;
  position: relative;
}

.sub-menu ul {
  position: absolute;
}

.main ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: rgb(0, 45, 117);
  margin-top: 12px;
  margin-left: -8px;
}

.main ul li:hover .sub-menu ul {
  display: block;
  margin: 6px;
}

.main ul li:hover .sub-menu ul li {
  width: 75px;
  padding: 5px;
  border-bottom: 1px #fff;
  background: transparent;
  transition: 0.4s ease;
  text-align: left;
  border-radius: 0;
}

.main ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}