<!DOCTYPE html>
<html>
  <head>
    <title>United Airlines</title>
    <link rel="stylesheet" type="text/css" href="./static/CSS/home.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Rakkas&display=swap" rel="stylesheet" />
    <style>
      body {
        background-image: url('./static/Images/6_image.jpg');
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="background-color"></div>
      <video autoplay muted loop id="video-bg">
        <source src="./static/Video/video_1.mp4" type="video/mp4" />Home Page Video tag.
      </video>
      <div class="main">
        <div class="logo">
          <a href="{{ url_for('home') }}"><img src="./static/Images/united_1.jpg" /></a>
        </div>

        <ul>
          <li class="active">
            <a href="#"><i class="fa fa-home"></i>Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>

      <div class="title">
        <h1>AIRCRAFT LOADING APPLICATION</h1>
      </div>
      <div class="sub_title">
        <h3>Good Leads the Way</h3>
      </div>

      <!-- Get started button -->
      <div class="button">
        <a href="{{ url_for('select') }}" class="btn">GET STARTED</a>
      </div>
    </header>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Reset confirmation status for weight action to "unconfirmed"
        localStorage.setItem('fireConfirmation', 'unconfirmed')
        localStorage.setItem('strapConfirmation', 'unconfirmed')
        localStorage.setItem('weightConfirmation', 'unconfirmed')
        localStorage.setItem('selectConfirmation', 'unconfirmed')
        localStorage.setItem('submitConfirmation', 'unconfirmed')
        updateProgressBar()
      });
    </script>
    <script src="./static/JS/script.js"></script>
  </body>
</html>
